# üêç Step 1 - Python Introduction 

## üìö Course 1: Python for Data Science: Fundamentals 

## 3Ô∏è‚É£ Lists and Foor Loops

---

üë¶ [Anh-Thi DINH](https://dinhanhthi.com) ‚Äî üî• [dataquest-aio](https://github.com/dinhanhthi/dataquest-aio) on Github.

‚ö° **Note**: Some errors in this notebook appear intentionally to illustrate the wrong commands.

‚ùì You run this notebook on Google Colab? If "Yes", please replace `0` by `1` in the below cell and run it first.

In [2]:
use_colab = 0 # 1 if you use Google Colab to read/run this notebook

## üìù Mission 312

‚è¨ Download the takeaway for this mission in folder `/takeaways/` [on Github](https://github.com/dinhanhthi/dataquest-aio/tree/master/takeaways). [Source](https://app.dataquest.io/m/312/lists-and-for-loops) of this mission.

üí° This part is actually not so sufficient! Check [my note page](https://note.dinhanhthi.com/python-list) for more!

In [29]:
# this is a list
lst = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
print(lst)

['Temple Run', 0.0, 'USD', 1724546, 4.5]

In [30]:
# how many elements in list?
print(len(lst))

5

In [31]:
# index of list starts with 0 NOT 1
print("lst = ", lst)
print(lst[0]) # the first element

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
Temple Run

In [32]:
# the last element
print("lst = ", lst)
print(lst[4]) # the 5th element in `lst`
print(lst[-1]) # you can use "-1" if you don't know exactly the number elements in the list to get its last element

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
4.5
4.5

üëâ **NEGATIVE NUMBER** INDICES.

In [33]:
# you can use only NEGATIVE NUMBERS to access the elements of a list
print("lst = ", lst)
print(lst[-1]) # last element
print(lst[-2]) # the second last element
print(lst[-5]) # the 1st element in a 5-element-list

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
4.5
1724546
Temple Run

In [34]:
# you can't access an index exceed the number of elements in a list
print(lst[5]) # it's 6th element and there is no 6th element in lst

IndexError: list index out of range

üëâ **SLICING**: access multiples elements in a list

In [35]:
print("lst = ", lst)
print(lst[:3]) # elements from 0 to 2 (1st to 3rd)

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Temple Run', 0.0, 'USD']

In [36]:
# lst[a:b] considers elements from a to b-1 (NOT b)
print("lst = ", lst)
print(lst[1:3]) # elements from index 1 to 2 (2nd element to 3rd one)

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
[0.0, 'USD']

üëâ **First / Last** elements.

In [37]:
print("lst = ", lst)
# if you wanna consider the FIRST 3 elements of the list
print(lst[:3])

# if you wanna consider the LAST 3 elements of the list
print(lst[-3:])

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Temple Run', 0.0, 'USD']
['USD', 1724546, 4.5]

üëâ **LIST OF LISTS**

In [38]:
# list of 2 different-size lists
dataset_1 = [['a', 1, 2, 'b'], ['c', 3, 4, 5, 'd']]
print(dataset_1)

[['a', 1, 2, 'b'], ['c', 3, 4, 5, 'd']]

In [39]:
# you can create a list like that (for more easy-looking)
dataset_1 = [['a', 1, 2, 'b'], 
             ['c', 3, 4, 5, 'd']]
print(dataset_1)

[['a', 1, 2, 'b'], ['c', 3, 4, 5, 'd']]

In [40]:
# access each row of the list
dataset_1[0] # first row

['a', 1, 2, 'b']

In [41]:
# access a specific element
dataset_1[1][2] # the 3rd element (index "2") of the second row (index "1")

4

üëâ **OPEN A FILE `.CSV`**

You'll learn more about opening and working on a `.csv` file (*comma-separated values*) in later courses. In this course, you just keep in mind that we open this find to work with lists.

In this exercise, we consider the Mobile App Store data set (Ramanathan Perumal) ([source](https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps))

In [4]:
# You don't need to understand the codes in this cell today (later), I just use it to display the table.
# But you need to run it to see the dataset

import pandas as pd

if use_colab:
    dataquest_aio = 'https://raw.githubusercontent.com/dinhanhthi/dataquest-aio/master/step-1-python-introduction/'
    dataset_url = dataquest_aio + 'course-1-python-for-ds-fundamentals/data/AppleStore.csv'
else:
    dataset_url = './data/AppleStore.csv' # if you use localhost
    
df = pd.read_csv(dataset_url, encoding="utf8")
df.head(5) # only show the first 5 rows of the dataset

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1

The data set above has 7,197 rows and 16 columns and we can store this data set as a list of lists.

In [5]:
from csv import reader
from urllib.request import urlopen

if use_colab: # you run this file on Google Colab?
    opened_file = urlopen(dataset_url).read().decode('utf-8')
    read_file = reader(opened_file.splitlines())
else: # you run this file on localhost?
    opened_file = open(dataset_url, encoding="utf8")
    read_file = reader(opened_file)

apps_data = list(read_file)

üí° **Explain the codes**: 

- First, you open the file by using `open()`. In this file, there are many "strange" characters, that's why you need to indicate its encoding (`encoding="utf8"`).
- After opening the file, the info are store in `opened_file`, you will use function `reader()` to read that info. Where `reader()` comes from? It comes a library so-called `csv` (someone wrote it for others to use, there are many other useful packages/libraries in the python world).
- Finally, you transform the read table to list and store it to `apps_data`.

In [43]:
# print the first row
apps_data[0]

['id',
 'track_name',
 'size_bytes',
 'currency',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'ver',
 'cont_rating',
 'prime_genre',
 'sup_devices.num',
 'ipadSc_urls.num',
 'lang.num',
 'vpp_lic']

In [44]:
# the number of rows in apps_data
len(apps_data)

7198

In [45]:
# extract apps_data to a smaller list (just for later tests)
apps_data_extracted = apps_data[:5] # only consider first 5 rows

üëâ **FOR LOOP**

In [46]:
# for example, we have this list
ratings = [3, 5, 1, 2]

# how can we print all of its values?
for element in ratings:
    print(element)

3
5
1
2

Note that, inside `for` loop, you need to indent the code(s) with 4 spaces (or 1 tab).

In [47]:
# get the 1st column in apps_data_extracted

# 1st_column = [] # you cannot name a variable starting with a number like this!!!!
column_1 = [] # initial list (an empty list)

for row in apps_data_extracted:
    column_1.append(row[0]) # add 1st element of each row to column_1 using `.append()` method

print(column_1)

['id', '284882215', '389801252', '529479190', '420009108']

Another example, we wanna find the sum of all elements in a list.

In [48]:
lst = [1, 3, 7, 9]
# sum = 0 -> you shouldn't create a name like this (but you can!) 
#            because `sum` is a common name for already-built function in python!!!
lst_sum = 0 # initial value of sum

In [50]:
for i in lst:
    lst_sum += i # add i to the sum
    
print("Sum of the list: ", lst_sum)
print("Average value of the list: ", lst_sum / len(lst))

Sum of the list:  40
Average value of the list:  10.0