<a href="https://colab.research.google.com/github/dinhanhthi/dataquest-aio/blob/master/step-1-python-introduction/course-1-python-for-ds-fundamentals/1%20-%20Programming%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêç Step 1 - Python Introduction 

## üìö Course 1: Python for Data Science: Fundamentals 

## 1Ô∏è‚É£ Programming in Python

---

üë¶ [Anh-Thi DINH](https://dinhanhthi.com) ‚Äî üî• [dataquest-aio](https://github.com/dinhanhthi/dataquest-aio) on Github.

‚ö° **Note**: Some errors in this notebook appear intentionally to illustrate the wrong commands.

## üìù Mission 311

‚è¨ Download the takeaway for this mission in folder `/takeaways/` [on Github](https://github.com/dinhanhthi/dataquest-aio/tree/master/takeaways). [Source](https://app.dataquest.io/m/311/programming-in-python) of this mission.

In [0]:
8 + 42

50

In [0]:
# display the result
print(40 + 2)

42

In [0]:
# the same line
print(20 + 7) print(10 + 2)

SyntaxError: invalid syntax (<ipython-input-3-b98dff18fc8d>, line 2)

In [0]:
# separate lines
print(20 + 7)
print(10 +2)

27
12

In [0]:
# the order of lines (who comes first will be excuted first)
print(5 + 1)
print(5 - 1)

6
4

In [0]:
# different orders in comparison with the above codes
print(5 - 1)
print(5 + 1)

4
6

In [0]:
# other math operators
print(16*10) # multiplication
print(16/4) # division (always gives real numbers)
print(17//4) # division giving integer numbers
print(2**3) # power
print(10%3) # modulo

160
4.0
4
8
1

In [0]:
# python comparison operators
print("1>2: ", 1>2)
print("0==True: ", 0==True)
print("1 != 2: ", 1!=2)
print("1<=2: ", 1<=2)

1>2:  False
0==True:  False
1 != 2:  True
1<=2:  True

In [0]:
# assign values to variables
result = (2 + 1) * 4
print(result)

12

In [0]:
# and then you can use this variables to make other tasks
print(result + 1)

result = result*2
print(result)

13
24

In [0]:
# for the second line of code above, you can use an alternative
result = 10
result += 2 # euquiv to result = result + 2
print(result)

12

In [0]:
# make the same for other operators
result = 2
result *= 3
print(result)

result /= 2
print(result)

6
3.0

In [0]:
# type of numbers
print(type(2))
print(type(2.0))

<class 'int'>
<class 'float'>

In [0]:
# change the type of number
print(4)
print(float(4))

print(4.3)
print(int(4.3))

4
4.0
4.3
4

In [0]:
# round numbers
print(round(3.7))
print(round(2.3))

4
2

üëâ **STRING**

In [0]:
# string
name = "Anh-Thi Dinh"
print(name)
print(type(name))

# using '' instead of ""
age = '30' # not a number, it's a string!
print(age)
print(type(age))

# favorite number
fav_num = 3 # it's a number
print(fav_num)
print(type(fav_num))

Anh-Thi Dinh
<class 'str'>
30
<class 'str'>
3
<class 'int'>

In [0]:
# intermix "" and ''
print("'If you don't understand it, ask me any question!' - I said.")

print('"If you don\'t understand it, ask me any question!" - I said.') # using backslash before special characters

'If you don't understand it, ask me any question!' - I said.
"If you don't understand it, ask me any question!" - I said.

In [0]:
# we can do math with string!
print('a' * 2)
print('a ' * 3) # there is a space
print('a' + 'b')

aa
a a a
ab

In [0]:
# we can't perform operators between strings and integers
print('a' + 3)

TypeError: can only concatenate str (not "int") to str

In [0]:
# we do that if this string represents a number
print(int('4') + 1)

5

In [0]:
# but we can't do this because 'thi' doesn't represent a number
print(int('thi') + 1)

ValueError: invalid literal for int() with base 10: 'thi'

In [0]:
print(str(4))
print(str(4) + 'thi')

4
4thi

In [0]:
print(int('3.3')) # we can't because 3.3 is not a integer number

ValueError: invalid literal for int() with base 10: '3.3'

In [0]:
# but we can do this
print(float('3.3'))

3.3

üëâ **BLOCK** of texts.

In [0]:
# if you wanna a block of texts?
text = '''This is a sentence.
This is another sentence.    
'''
print(text)

This is a sentence.
This is another sentence.

In [0]:
# you can use """
text2 = """This is a sentence.
This is another sentence.
"""
print(text2)

This is a sentence.
This is another sentence.