# üêç Step 1 - Python Introduction 

## üìö Course 1: Python for Data Science: Fundamentals 

## 2Ô∏è‚É£ Variables and Data Types

---

üë¶ [Anh-Thi DINH](https://dinhanhthi.com) ‚Äî üî• [dataquest-aio](https://github.com/dinhanhthi/dataquest-aio) on Github.

‚ö° **Note**: Some errors in this notebook appear intentionally to illustrate the wrong commands.

## üìù Mission 200

‚è¨ Download the takeaway for this mission in folder `/takeaways/` [on Github](https://github.com/dinhanhthi/dataquest-aio/tree/master/takeaways). [Source](https://app.dataquest.io/m/200/variables-and-data-types) of this mission.

In [10]:
# assign values to variables
result = (2 + 1) * 4
print(result)

12

In [11]:
# and then you can use this variables to make other tasks
print(result + 1)

result = result*2
print(result)

13
24

In [12]:
# for the second line of code above, you can use an alternative
result = 10
result += 2 # euquiv to result = result + 2
print(result)

12

In [13]:
# make the same for other operators
result = 2
result *= 3
print(result)

result /= 2
print(result)

6
3.0

In [14]:
# type of numbers
print(type(2))
print(type(2.0))

<class 'int'>
<class 'float'>

In [15]:
# change the type of number
print(4)
print(float(4))

print(4.3)
print(int(4.3))

4
4.0
4.3
4

In [16]:
# round numbers
print(round(3.7))
print(round(2.3))

4
2

üëâ **STRING**

In [17]:
# string
name = "Anh-Thi Dinh"
print(name)
print(type(name))

# using '' instead of ""
age = '30' # not a number, it's a string!
print(age)
print(type(age))

# favorite number
fav_num = 3 # it's a number
print(fav_num)
print(type(fav_num))

Anh-Thi Dinh
<class 'str'>
30
<class 'str'>
3
<class 'int'>

In [18]:
# intermix "" and ''
print("'If you don't understand it, ask me any question!' - I said.")

print('"If you don\'t understand it, ask me any question!" - I said.') # using backslash before special characters

'If you don't understand it, ask me any question!' - I said.
"If you don't understand it, ask me any question!" - I said.

In [19]:
# we can do math with string!
print('a' * 2)
print('a ' * 3) # there is a space
print('a' + 'b')

aa
a a a
ab

In [20]:
# we can't perform operators between strings and integers
print('a' + 3)

TypeError: can only concatenate str (not "int") to str

In [21]:
# we do that if this string represents a number
print(int('4') + 1)

5

In [22]:
# but we can't do this because 'thi' doesn't represent a number
print(int('thi') + 1)

ValueError: invalid literal for int() with base 10: 'thi'

In [23]:
print(str(4))
print(str(4) + 'thi')

4
4thi

In [24]:
print(int('3.3')) # we can't because 3.3 is not a integer number

ValueError: invalid literal for int() with base 10: '3.3'

In [25]:
# but we can do this
print(float('3.3'))

3.3

üëâ **BLOCK** of texts.

In [26]:
# if you wanna a block of texts?
text = '''This is a sentence.
This is another sentence.    
'''
print(text)

This is a sentence.
This is another sentence.

In [27]:
# you can use """
text2 = """This is a sentence.
This is another sentence.
"""
print(text2)

This is a sentence.
This is another sentence.

In [28]:
# don't think that """ is only used for a block, you can use it for a single line of text
text3 = """This is a sentence."""
print(text3)

This is a sentence.